* {
    font-family: "Martian Mono";
	color: white;
	scroll-behavior: smooth;
}

.material-icons.colored {
	color: #f88654;
}

.material-icons.colored:hover {
	color: #ffffff;
}

body {
	background-color: #272727;
	color: rgb(236,236,233);
}

.header {
	color: rgb(255,220,80);
	font-family: 'Bebas Neue', cursive;
	font-size: 80px;
}

.box-text {
	color: #272727;
	font-weight: bold;
	font-family: 'Bebas Neue';
	font-size: 80px;
}

nav{
	background: rgba(10, 10, 10, 0.4);
	color: white;
	position: absolute;
	margin-top: -50px;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

nav a, nav a:hover {
	color: white !important;
	text-decoration: none;
}
nav a:hover {
	opacity: 0.5;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("../img/nav.svg");
}
.navbar-dark .navbar-toggler {
	border-color: rgba(255, 93, 43, 0.246)
}

.feature {
	height: 400px;
	text-align: center;
}

.feature p {
	width: auto;
	margin: 0 auto;
}

.highlight {
    -webkit-text-stroke: 1.11px black;
    color: transparent;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
}

.contain-box {
	border-radius: 0;
	border-color: rgb(236,236,233);
	border-style: solid;
	box-shadow: rgb(236,236,233) 10px 10px 0px;
}

.footer-bg {
	background-color: #242526;
}

@media (max-width: 475px) {
	.feature {
		height: 415px;
	}
	
}

