@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}

@import "https://unpkg.com/mafs@0.5.0/build/index.css";

@layer base {
  body {
    @apply text-white bg-[0] bg-size-default bg-[#242526]
  }
  h1 {
    @apply scroll-m-20 text-3xl font-bold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  h5 {
    @apply scroll-m-20 text-lg font-semibold tracking-tight;
  }
  h6 {
    @apply scroll-m-20 text-sm font-semibold tracking-tight;
  }
  p {
    @apply leading-7 font-light text-base;
  }
}

@layer components {
  .nav-container{
    @apply bg-[#242526] bg-[0] bg-size-default text-gray-500 font-bold text-2xl
  }
}
