@import "https://unpkg.com/mafs@0.5.0/build/index.css";

.markdown {
  @apply text-gray-800 leading-relaxed text-sm text-white;
}

.markdown h1 {
  @apply text-3xl font-bold mt-6 mb-4;
}

.markdown h2 {
  @apply text-2xl font-semibold mt-5 mb-3;
}

.markdown p {
  @apply my-4 text-base;
}

.markdown code {
  @apply bg-[#5e6067] px-1.5 py-0.5 rounded text-sm font-mono text-white;
}

.markdown pre {
  @apply bg-[#5e6067] p-4 rounded overflow-x-auto;
}

.markdown a {
  @apply text-[#63cc79] underline;
}

.markdown ul {
  @apply list-disc list-inside my-4;
}

.markdown ol {
  @apply list-decimal list-inside my-4;
}

.markdown li {
  @apply my-1 ml-5;
}
